/* إعدادات عامة للصفحة */
body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f2f7fb;
  color: #333;
  margin: 0;
  padding: 20px;
  line-height: 1.6;
}

/* الهيدر */
header {
  text-align: center;
  padding: 20px 0;
  background-color: #336fc9d8;
  color: white;
  border-radius: 30px;
}

/* العناوين */
h1, h2{
  color: #020969;
}

/* الصور */
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* الفيديو */
video, iframe {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 10px;
}

/* الفقرات */
  h3 {
  padding: 0 10px;
    color: #0d0d0f;
}

/* الفقرات داخل الأقسام */
section {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.06);
}

/* القوائم */
ul {
  list-style-type: square;
  padding-left: 30px;
}

dl {
  padding-left: 20px;
}

/* الروابط */
a {
  display: inline-block;
  margin-top: 10px;
  color: white;
  background-color: #0096c7;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #005f73;
}

/* الفاصل */
hr {
  border: none;
  height: 2px;
  background-color: #90e0ef;
  margin: 25px 0;
}

/* الفوتر */
footer {
  text-align: center;
  padding: 20px;
  background-color: #336fc9d8;
  color: white;
  border-radius: 12px;
  font-size: 14px;
}

.image-frame {
  display: inline-block;
  padding: 10px;
  border: 4px solid #05090c;
  border-radius: 100px;
  background-color: #ffffff;
  box-shadow: 0 30px 40px rgba(136, 92, 219, 0.15);

  transition: transform 0.3s ease;
}

.image-frame:hover {
  transform: scale(1.03); /* تكبير بسيط عند تمرير الماوس */
}

.image-frame img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}
